#music {
	img {
		display: block;
		margin: auto;
	}
	h1, h2, h3 {
		text-align: center;
	}
	.row {
		margin-top: 3%;
	}
	a:hover {
		text-decoration: none;
	}
	.cd:hover {
		background-color:  #3498db;
		h1{
			color: white;
		}
	}
}