<nav class="navbar navbar-toggleable-md">
    <div class="container">

        <div class='row align-items-center justify-content-between'>
            <div class='col-lg-8 col-md-2'>

                <div class='desktopNav'>
                    <ul class="nav navbar-nav mr-auto">
                        <li id='navItem' ng-repeat="item in items">
                            <a id='{{ item.deskId }}' class='navAtag' href="{{ item.href }}">{{ item.label }}</a>
                        </li>
                    </ul>
                </div>

                <div id='mobileNav' class="dropdown">
                    <button id='mobileNavBtn' class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bars fa-6x" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="item in items">
                            <a id="{{ item.mobileId }}" class='navAtag' href= "{{ item.href }}">{{ item.label }}</a>
                        </li>
                    </ul>
                </div>
                   
            </div>
            <div class='col-lg-4 col-md-10' id='contactDesktop' class='desktopNav'>
                <h5>(212)-979-8523 | <a href='mailTo:taoslider@gmail.com'>taoslider@gmail.com</a></h5>
            </div>
        </div>
    </div>
</nav>