#welcomeHeader {
	background-image: url("images/SheldonWallLean.jpg");
	height: 100vh;
}

#welcomeFooter {
	background-image: url("images/pianoFull.jpg");
}

#welcomeSection {

	p { text-align: justify; }

	#moto { text-align: center; }

	.iframe-container {
		padding-bottom: 60vh;
		margin-bottom: 20px;
	}

	.iframe-container iframe {
		height: 60vh;
		width: 90%;
	}

	@media only screen and (max-width: 480px){
		padding-top: 30px;
		.iframe-container { padding-bottom: 40vh; }
		.iframe-container iframe {
			height: 40vh;
			width: 100%;
		}
	}
	
}

