#classInfoHeader {
	background-image: url("images/sheldonReflect2.jpg");
	height: 70vh;
}

#cancelFooter {
	background-image: url('images/SteinwayLogo.jpg');
	height: 70vh;
}

#cancel {

	background-color: $altSectBackground;

	.warning {
		text-align: center;
		padding: 10px 20px;
		color: white;
		background-color: $siteRedColor;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom: 2px solid #FFF;
	}

	.cancelDiv {
		border: 2px solid;
		border-radius: 10px;
		background-color: #FFF;
	}

	.cancelDiv {
		p {
			padding-left: 10%;
			padding-right: 10%;
			text-align: justify;
		}
		p:last-child { text-align: center; }
	}

	#quote { font-style: italic; }
}

