#cancel {

	// padding: 120px 0;

	background-color: $altSectBackground;

	.warning {
		text-align: center;
		padding: 10px 20px;
		color: white;
		background-color: $siteRedColor;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom: 2px solid #FFF;
	}

	p {
		text-align: center;
	}

	.cancelDiv {
		border: 2px solid;
		border-radius: 10px;
		background-color: #FFF;
	}

	#quote {
		font-style: italic;
	}
}

@media only screen and (max-width: 1200px) {
	#cancel {
		p {
			margin-top: 3%;
		}
	}

}

