#lightPainting {

	background-color: $altSectBackground;


	h1, h3 {
		text-align: center;
		padding: 10px 20px;
	}

	a { text-decoration: none; }

	.fineArt{ padding: 10px; }

	.fineArt:hover {
		background-color: $themeColor;
		border-radius: 10px;

		h3 { color: #FFF; }
	}

	.fineArtLink {

		h1{
			color: #FFF;
			background-color: $themeColor;
			border-radius: 10px;
		}
	}

	.fineArtLink:hover {

		h1 { 
			color: darken( $themeColor, 10%); 
			background-color: darken( $themeColor, 30%)
		}
	}

	h3 { color: $themeColor; }

	img {
		display: block;
		margin: auto;
		width: 100%;
		border-radius: 10px;
	}

	@media only screen and (max-width: 480px){
		h3{ font-size: 60%; }
	}
}