navbar {

  .navbar{
    margin: 0;
    padding: 0;
  }

  .row { width: 100%; }

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container { width: 95%; }

  a {
    text-align: center;
    color: black;
    font-size: 60%;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active { color: darken(#f31214, 10%); }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus { background: none; }
  }

  #contactDesktop {
    float: right;
    text-align: right;
    h5 {
      font-size: 80%;
      margin: 0;
      padding: 15px 0;
    }

    a {
      font-size: 100%;
      &.visited { color: #FFF; }
    }
  }

}


// Removes bootstrap caret on dropdown menu
.dropdown-toggle::after{ display: none; }

.fa-bars { color: black; }

#mobileNav {

  float: left;
  text-align: left;

  a { 
    text-align: left;
    font-size: 60px;
    &.active {
      color: darken(#f31214, 10%);
    }
  }
}

#contactMobile {
  text-align: right;
  a { font-size: 40px; }
}

@media only screen and (max-width: 1200px) {
  .desktopNav { display: none; }
}

@media only screen and (min-width: 1199px) {
  #mobileNav, #navbarPush { display: none; }
}

