navbar {

  a {
    text-align: center;
    color: black;
    font-size: 60%;
  } 

  .navbar{
    margin: 0;
    padding: 0;
  }

  .row { 
    margin: 0;
    width: 100%; 
  }

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container { width: 95%; }

  // Removes bootstrap caret on dropdown menu
  .dropdown-toggle::after{ display: none; }

  .desktopNav { display: block; }

  .mobileNav {

    display: none;

    float: left;
    text-align: left;

    .navAtag { 
      text-align: left;
      font-size: 110%;
      &.active {
        color: darken($themeColor, 10%);
      }
    }
  }

  #contactDesktop {
    float: right;
    text-align: right;
    h5 {
      font-size: 80%;
      margin: 0;
      padding: 15px 0;
      a {
        font-size: 100%;
      }
    }

    a { &.visited { color: darken($themeColor, 10%) } }
  }

  #contactMobile {
    text-align: right;
    h5 { margin: 0; }
    a { font-size: 200%; }
  }

  #mobileNavBtn { padding: 0; }

  @media only screen and (max-width: 1023px) {
    .desktopNav { display: none; }
    .mobileNav { display: block; }
    #contactMobile{ h5{ font-size: 110%; } }
  }

  @media only screen and (max-width: 767px){
    #contactMobile{ h5{ font-size: 70%; } }
  }

  @media only screen and (max-width: 480px){
    #contactMobile{ h5{ font-size: 70%; } }
  }

  @media only screen and (max-width: 400px){
    #contactMobile{ h5{ font-size: 50%; } }
  }
}

  // Out here due to navbar push
  // Navbar pushed is used 
  #navbarPush { display: none; }
  .fa-bars { 
    font-size: 600%;
    color: black; 
  }

  @media only screen and (max-width: 1023px) {
    #navbarPush { display: block; }
  }

  @media only screen and (max-width: 767px){
    .fa-bars { font-size: 300% }
  }

  @media only screen and (max-width: 480px){
    .fa-bars { font-size: 200% }
  }

  @media only screen and (max-width: 400px){
    .fa-bars { font-size: 200% }
  }






