#classInfoHeader {
	background-image: url("images/sheldonReflect.jpg");
	height: 70vh;
}

#classInfoFooter {
	background-image: url('images/SteinwayLogo.jpg');
	height: 70vh;
}

#classInfo {

	p { text-align: justify; }

	h1, h2 { text-align: center; }
}