#classInfoHeader {
	background-image: url("images/sheldonReflect.jpg");
	height: 75vh;
}

@media only screen and (max-width: 480px){
	#classInfoHeader{ 
		height: 50vh;
	}
}

#classInfoFooter {
	background-image: url('images/pianoFull.JPG');
	height: 75vh;
}

#classInfo {

	background-color: $altSectBackground;

	p {
		text-align: justify;
	}

	h1, h2 {
		text-align: center;
	}

	img {
		display: block;
		margin: auto;
	}
}