#about {
	#headShotImg {
		margin-left: 5%;
		float: right;	
	}
	#kungFuImg {
		margin-right: 5%;
		float: left;	
	}
	p {
		text-align: justify;
	}
	h1 {
		text-align: center;
	}
}

@media only screen and (max-width: 1200px) {

	#about {
		#headShotImg {
			width: 45%;	
		}
		#kungFuImg {
			width: 45%;	
		}
	}

}

