
#reviews {

	height: 1170px;
	overflow: hidden;

	background-color: $altSectBackground;

	.fa-chevron-left,
	.fa-chevron-right { color: $themeColor; }

	#welcomeP {
		margin: auto auto;
		text-align: center;
	}

	.carousel-indicators li,
	.carousel-indicators .active {
		background-color: $themeColor;
	}

	.carousel-indicators {
		position: relative;
		margin: 8% auto 4% auto;
		padding-top: 10px;
		width: 100%;
		li {
			max-width: 100%;
			height: 6px;
		}
		.active { height: 20px; } 
	}


	h3 {
		color: $themeColor;
		text-align: center;
	}

}

@import 'review'