
#reviews {

	//min-height: 1000px;

	background-color: $altSectBackground;

	.fa-chevron-left,
	.fa-chevron-right { color: $themeColor; }

	#welcomeP {
		margin: auto auto;
		text-align: center;
	}

	.carousel-indicators li,
	.carousel-indicators .active {
		background-color: $themeColor;
	}

	.carousel-indicators { 
		position: relative;
		margin: 0 auto 20px auto;
		padding-top: 10px;
	}

	h3 {
		color: $themeColor;
		text-align: center;
	}

}

@import 'review'