review {
	#stars {
		text-align: center;
		margin-bottom: 20px;
		color: $themeColor;
	}

	p {
		text-align: justify;
	}

	#date {
		margin-left: 20px;
	}

	.fa-chevron-left {
		margin-left: 5%;
		float: left; 
	}
	.fa-chevron-right { 
		margin-right: 5%;
		float: right;
	}
}