@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400';

// Site colors
$themeColor: #5063e5; // original #3498db
$altSectBackground: #fafafa; // This is the alternate grey color for section backgrounds
$siteRedColor: #e74c3c;

@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 25px;
  font-family: "Lato", Open Sans;
  background: #fdfdfd;
}

body {

  header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 62vh;
    background-attachment: fixed;
  }

  .mobile-bg { display: none; }

  @media only screen and (max-width: 480px){
    header { display: none; }
    .mobile-bg {
      display: block;
      width: 100%;
    }
  }

  $sectionSpacing: 40px;

  section {
    .container { 
      padding-top: $sectionSpacing; 
      padding-bottom: $sectionSpacing;
    }
  }

  .section-heading:after{
      display:block;
      height: 3px;
      background-color: $themeColor;
      content: " ";
      width: 100px;
      margin: 30px auto;
  }

  p {
  	font-size: 110%;
    line-height: 120%;
  }

  h1 {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
    color: $themeColor;
  }

  h2 {
    font-size: 100%;
    font-weight: bold;
  }

  h3 { font-size: 80%; }

  .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
  }

  iframe {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    frameborder: 2px;
  }

  @media only screen and (max-width: 767px){
    font-size: 22px;

    header { height: 50vh; }

    section { 
      .container { 
        padding-top: $sectionSpacing * (2/3); 
        padding-bottom: $sectionSpacing * (2/3);
      }
    }

    .section-heading:after{ 
      width: 45px;
      margin: 20px auto; 
    }
  }

  @media only screen and (max-width: 480px){
    font-size: 18px;

    header { height: 50vh; }

    section { 
      .container { 
        padding-top: $sectionSpacing * (1/2); 
        padding-bottom: $sectionSpacing * (1/2);
      }
    }

    .section-heading:after{ 
      width: 33px;
      margin: 15px auto; 
    }
  }
  
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'welcome/main';
@import 'about/main';
@import 'classInfo/main';
@import 'rates/main';
@import 'cancel/main';
@import 'location/main';
@import 'lightPainting/main';
@import 'music/main';
@import 'reviews/main';
