#locationFooter {
	background-image: url("images/backgrounds/pianoSitDown.jpg");
}

#location {

	background-color: $altSectBackground;
	

	p { text-align: center; }

	.locationDiv {
		p:nth-child(5) {
			text-align: justify;
		}
	}

	h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	.iframe-container {
		padding-bottom: 60vh;
		margin-bottom: 20px;
	}

	.iframe-container iframe {
		height: 60vh;
		width: 80%;
	}
}