#location {
	

	p {
		margin: 3% auto 3% auto;
		text-align: center;
		// width: 75%;
	}

	h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	img {
		display: block;
		margin: auto;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.iframe-container {
		padding-bottom: 60vh;
	}

	.iframe-container iframe {
		height: 60vh;
		width: 80%;
	}
}