#location {
	iframe {
		display: block;
		margin: auto;
	}

	p {
		margin: 3% auto 3% auto;
		text-align: center;
		// width: 75%;
	}

	h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	img {
		display: block;
		margin: auto;
	}
}